*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
config.cache
config.h
config.h.in
config.log
config.status
configure
configure-stamp
*.lsm
*.spec
install-sh
libtool
missing
stamp-h
stamp-h.in
tmp
.deps
.libs
*.lo
*.la
*.a
*.o
*.s

/debian/files
/debian/tmp
/debian/typhoon-dev
/debian/typhoon1
/debian/typhoon1.postinst.debhelper
/debian/typhoon1.postrm.debhelper
/debian/typhoon1.substvars

/util/dbdview
/util/tyexport
/util/tyimport
/util/ddlp
#/util/ddl.c
#/util/ddl.h
#/util/exp.c
#/util/exp.h
#/util/imp.c
#/util/imp.h
