*~
/debian/files
/debian/tmp
/debian/typhoon-dev
/debian/typhoon1
/debian/typhoon1.postinst.debhelper
/debian/typhoon1.postrm.debhelper
/debian/typhoon1.substvars
/man/Makefile
/man/Makefile.in
/src/.deps
/src/.libs
/src/Makefile
/src/Makefile.in
/src/*.lo
/src/*.la
/util/.deps
/util/.libs
/util/Makefile
/util/Makefile.in
/util/*.lo
/util/*.la
/util/dbdview
/util/tyexport
/util/tyimport
/util/ddlp
/util/ddl.c
/util/ddl.h
/util/exp.c
/util/exp.h
/util/imp.c
/util/imp.h
