Source: libtyphoon
Section: devel
Priority: extra
Maintainer: Alexios Chouchoulas (Megistos Project) <megistos@vennea.demon.co.uk>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: libtyphoon-dev
Architecture: any
Depends: libtyphoon1 (= ${Source-Version}), libc6-dev
Description: Development files for Typhoon, a simple RDBMS
 Typhoon is a freely available relational database management system for
 the UNIX and OS/2 environments written by Thomas B. Pedersen. According to
 him, the system works fine and is currently used in a number of professional
 applications in Denmark, some of them mission critical. Here are a few
 features:
 .
        - Multiple open database
        - Multi-field keys
        - Nested structures in records
        - Controlled unions
        - Referential integrity
        - Variable length fields
        - Null keys (optional keys in db_VISTA, but easier to use)
        - Dynamic opening and closing of database files

Package: libtyphoon1
Architecture: any
Depends: ${shlibs:Depends}
Description: A simple yet powerful RDBMS library
 Typhoon is a freely available relational database management system for
 the UNIX and OS/2 environments written by Thomas B. Pedersen. According to
 him, the system works fine and is currently used in a number of professional
 applications in Denmark, some of them mission critical. Here are a few
 features:
 .
        - Multiple open database
        - Multi-field keys
        - Nested structures in records
        - Controlled unions
        - Referential integrity
        - Variable length fields
        - Null keys (optional keys in db_VISTA, but easier to use)
        - Dynamic opening and closing of database files
